/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  color: #00112c;
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  box-sizing: border-box;
}
h1 {
  font-size: 48px;
  line-height: 58px;
}
strong {
  font-weight: 600;
}
/* ---------------header style */
.container {
  display: flex;
  /* align-items: center; */
  margin: 0 3vw;
  max-width: 1248px;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
}
.logo img {
  margin-right: 2rem;
  width: 6.25rem;
  padding: 14px 0 18px 0;
  cursor: pointer;
}
.main-nav {
  list-style: none;
  display: flex;
  justify-items: center;
  margin: 0 auto 0 0;
  padding: 0 40px 0;
}
.main-nav i {
  padding-left: 5px;
}
.nav-item {
  display: inline-block;
  margin-right: 24px;
  cursor: pointer;
  padding: 24px 0 24px 0;
  border-top: 4px solid transparent;
}
.bot-group {
  display: flex;
  padding: 0 40px 0;
}
button {
  width: auto;
  color: #fff;
  background-color: #0abf53;
  border: 1px solid #0abf53;
  border-radius: 3px;
  font-size: 1rem;
  padding: 12px 24px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  outline: none;
}
.nav-item:hover {
  border-top: 4px solid #0abf53;
  transition: all 0.3s ease-out;
}
.bot:hover {
  background-color: #0aa046;
  transition: all 0.3s ease-out;
}
/* -------------------------main styling -- */

/* --------------------------landing section style */
.landing-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #f3f6f9;
}
.pay {
  max-width: 100%;
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro p {
  padding: 20px 10px;
  font-size: 1.2em;
  max-width: 60%;
}

.intro ul {
  list-style: disc;
  padding: 20px 40px;
}
.bot-2 {
  color: #00112c;
  background-color: transparent;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
  margin-left: 2%;
}
.bot-2:hover {
  border-bottom: #00112c 1px solid;
  transition: all 0.3s ease-out;
}
.bot-2::after {
  content: '›';
  display: inline;
  padding-left: 5%;
}
